body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: #00091E;
    color: white;
}

.side {
    font-family: sans-serif;
    background-color: #00091E;
    color: white;
}